@import "tailwindcss";
@plugin "daisyui";

@theme {
  --color-primary: #4640DE;
  --color-secondary: #26A4FF;
  --color-dark-blue: #25324B;
  --color-gray: #515B6F;
  --color-light-gray: #F8F8FD;
}

@layer base {
  body {
    @apply text-dark-blue bg-white;
  }
}
